 @charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);
@import url(https://fonts.googleapis.com/css?family=Arbutus+Slab);
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Source+Sans+Pro:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Lora');

/* CSS Document */

/*------------------------------------------------------------------
[Table of contents]
0. Fonts
1. Clearfix
2. Preloader
3. Typography
4. Headings
5. Main Nav
6. Main Content
7. Column Grid
8. Content Elements
9. Icons
10. Image Hover
11. Footer
12. Lists
13. Google Maps
14. Blog
15. Slideshow
-------------------------------------------------------------------*/


/* =1. Clearfix
--------------------------------------------------------------------------------------------------------*/
.clear { clear: both; }
.clearfix:after { content: "."; display:block; height:0; clear:both; visibility:hidden; }/* ----- clear fix for floats ----- */
.clearfix { display:inline-block; }
* html .clearfix { height:1%; }/* hides clearfix from IE-mac */
.clearfix { display:block; }/* end hide from IE-mac */
.centered { text-align:center; }
.lefted { text-align:left !important }
.alignleft { float:left; }
.alignright { float:right; }
.aligncenter { float:none; display:inline-block; text-align:left }
.alignnone { clear:both; font-size:0; line-height:0; margin:0; padding:0; border:0; height:0; width:0; }
.aligncenter.centered { text-align:center }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
/* End Clearfix
--------------------------------------------------------------------------------------------------------*/


/* =2. Preloader
--------------------------------------------------------------------------------------------------------*/
#preloader { position:fixed; top:0; left:0; right:0; bottom:0; background:#fff; z-index:99999; }
#preloader.dark-version { background:#2b2b2b; }
#status { z-index:28; position:absolute; color:#2b2b2b; top:50%; height:220px; width:100%; margin-top:-110px; }
#preloader p.small { font-size:15px; display:block; font-weight:400; padding:0 !important; color:#2b2b2b; }
/* horizontal centering */
.parent { width:100%; margin:0px auto; position:relative; height:220px; z-index:11; }
.child { text-align:center; }
/* vertical centering */
.parent { display: table }
.child { display: table-cell; vertical-align: middle; padding:0 50px; }
/*.child span { text-transform:uppercase; }*/
.no-js #preloader { display: none; }
/* End Preloader
--------------------------------------------------------------------------------------------------------*/


/* =3. Typography
--------------------------------------------------------------------------------------------------------*/
html { overflow: -moz-scrollbars-vertical; overflow-y: scroll;  height:100%; overflow-x:hidden; }
body { font-size: 20px; font-family:'Lato', Arial, Helvetica, sans-serif; color:#888; height:100%; -webkit-text-size-adjust: 100%; -moz-osx-font-smoothing:grayscale; -webkit-font-smoothing: antialiased;  }
strong { font-weight:600; color:#2b2b2b; }
a, a > * { -webkit-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; }
a, a:hover, a:focus { color:#2b2b2b; text-decoration:none; outline: 0; }
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; text-rendering: optimizeLegibility; outline: 0; }
*:focus, *:after:focus, *:before:focus { outline: 0; }
*:after, *:before { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; }

p { line-height:1.5; font-size:20px; padding:0; color:black; -webkit-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; position:relative; font-family: 'Lora', serif; font-weight: 400;}
p a, dl a { color:#2b2b2b; text-decoration:none; }
p.small { font-style:italic; }
p.uppercase { font-size:13px; text-transform:uppercase; font-weight:600; letter-spacing:2px; font-family: 'Source Sans Pro', sans-serif; }
p.uppercaseone { font-size:16px; color:#d8d8d8; text-transform:uppercase; font-weight:600; letter-spacing:2px; font-family: 'Source Sans Pro', sans-serif; }
.parent p.uppercase { margin:0; }.parent p.uppercase { margin:0; }
p.uppercase.black { color:#2b2b2b; }

dd, dt { line-height:1.6; }
p.sub-heading { font-size:18px; font-weight:400; padding-bottom:50px; line-height:1.5 }

.child p.small { margin:10px 0; }

.header-bottom p { font-size:13px; }

p.large { font-size:26px; padding-bottom:20px; line-height:1.3; font-weight:300; letter-spacing:-1px }
.centered p.sub-heading, .centered p.large { display: inline-block; max-width: 524px; }
p.large.above-button { padding-bottom:0 }

#centertext{margin: 0 auto; text-align:center; font-size:24px;font-family:'Lora', serif; padding-bottom:60px; margin-top:60px;}
#center-basetext {margin: 0 auto; text-align:center; font-size:24px; margin-top:30px;}

blockquote { padding:17px 0px 22px 0px; margin:0; font-style:italic; border:0; position:relative; }
blockquote p { font-family:"Playfair Display", Georgia, Verdana, sans-serif; color:#2b2b2b; font-size:30px; line-height:1.35; font-style:italic }
blockquote p.small { font-family:'Lato', Arial, Helvetica, sans-serif; border:0; padding-top:3px; margin-top:10px; font-style:normal; font-size:12px; color:#999 }
blockquote .small::before, blockquote footer::before, blockquote small::before { content: "" }
blockquote .questionmark { text-align:center; width:100%; font-family:"Playfair Display", Georgia, Verdana, sans-serif; color:#2b2b2b; font-size:72px; line-height:1; font-style:normal; height:52px; }
blockquote .borderline { width:50px; margin:0 auto; margin-top:32px; }
blockquote .borderline.top { margin-top:0; margin-bottom:20px; }

.button, .button:focus, .send-btn, .send-btn:focus { display: block; color: #2b2b2b; border:solid 2px #2b2b2b; padding: 12px 30px 13px; margin: 10px 0 10px 0; font-size:11px; font-weight:600; text-transform:uppercase; line-height:1; letter-spacing:1px; display: inline-block; -webkit-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; z-index:1; position:relative; -webkit-text-shadow:none !important; text-shadow:none !important; font-style:normal; }
.centered .button { margin-left:5px; margin-right:5px; }
.button:hover, .send-btn:hover { background:#2b2b2b; color:#fff; }

.button i { margin-right:3px; }
.button:hover i { color:#fff; }
.btn-group-lg > .btn, .btn-lg, .btn { border-radius:51%; }

.dl-horizontal dt { width:20px; text-align:left; float:left; opacity:0.7; font-weight:400; }
.dl-horizontal dd { margin-left:35px; opacity:0.7 }
.dl-horizontal.hours dt {width:100px; }
.dl-horizontal.hours dd { margin-left:115px; }

.dark, .dark p.sub-heading, .dark p.uppercase { color:#fff; font-family: "Source Sans Pro", sans-serif;}

.dark p.uppercase { opacity:0.7; font-size:13px; font-family: "Source Sans Pro", sans-serif; }

.signature { display:block; background:url(../images/signature.png) center center no-repeat; background-size:185px 50px; width:185px; height:50px; opacity:0.7}

a.link, p a, ul.unordered-list li a, ul.contact-list li a { position:relative; color:#2b2b2b; }
a.link::after, p a::after, ul.unordered-list li a::after, ul.contact-list li a::after { content:""; background:#2b2b2b; bottom:-1px; display:block; left:50%; height:1px; position:absolute; -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; width:0; }
a.link:hover::after, p a:hover::after, ul.unordered-list li a:hover::after, ul.contact-list li a:hover::after { left:0; width:100%; color:#2b2b2b; }
/* End Typography
--------------------------------------------------------------------------------------------------------*/


/* =4. Headings
--------------------------------------------------------------------------------------------------------*/
h1#logo { display:block; /*position:absolute; left:0; top:0px;*/ margin:0; width:auto; height:auto; z-index:200;  background:#fff; padding:19px 15px; font-size:0; line-height:1; }
h1#logo a { display:block; background:url(../images/logo.png) center center no-repeat; background-size:100px 45px; width:100px; height:45px; text-indent:-9999px; cursor:pointer; }
.tagline { float:left; font-size:13px; font-weight:400; position:relative; display:table; height:52px; margin-top:-1px; color:#fff; }
.tagline span { vertical-align:middle; display:table-cell; }
h1, h2, h3, h4, h5 { line-height:1.3; color:#2b2b2b; display:block; position:relative; font-family:"Playfair Display", Georgia, Verdana, sans-serif; font-weight:400; z-index:1; }
.dark h1, .dark h2, h1 a, h2 a, h3 a, h4 a, h5 a, h2 .small, h3 .small, h4 .small, h5 .small {color:#fff }
h1 { font-size:52px; line-height:1.2; letter-spacing:-1px; margin-top:0px; font-family: 'Playfair Display', serif; letter-spacing: .4px; padding-left:-1em; font-weight: 700; margin: auto;}
h2 { font-size:48px; line-height:1.25; letter-spacing:-1px; margin-top:0px; font-family: 'Playfair Display', serif; letter-spacing: .4px; padding-left:-1em; font-weight: 700;  margin: auto;}
.element h2 { font-size:24px; }
h3 { font-size:36px; line-height:1.3; margin-top:10px; }
h4 { font-size:40px; line-height:1.35; font-family: 'Source Sans Pro', sans-serif; font-weight: 600; text-align: center;}

h5 { font-size:20px; line-height:1.4;}
h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {color:#2b2b2b }

.header { margin-top:5px !important; }
.more-info h6, .more-info h5, .more-info h4, .more-info h3 { margin-bottom:5px; }
.bordered-content h5, .bordered-content h4, .bordered-content h3 { margin-top:0; }
/* End Headings
--------------------------------------------------------------------------------------------------------*/


/* =5. Main Nav
--------------------------------------------------------------------------------------------------------*/
.left-corner-wrapper { position:absolute; left:0; top:0; }

#menu-button { font-size:13px; display:block; height:50px; /*position: absolute;*/ -webkit-tap-highlight-color: rgba(0, 0, 0, 0); z-index:202; /*top:95px; left:0px;*/ position:relative; margin-top:5px; }
#menu-button .centralizer { display: table-cell; vertical-align: middle; }
#nav-button { display:inline-block; width:50px; height:50px; margin:0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding:18px 15px 0 15px; cursor:pointer; background:#fff; -webkit-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s;}
#nav-button:hover { width:60px; padding:18px 15px 0 25px; -webkit-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s;}
.nav-bar { background-color:#2b2b2b; border-radius:1px; display:block; width:19px; height:2px; margin:0px 0 2px; }
.nav-bar.second { width:13px; }
.nav-bar.third { width:15px; }
#main-nav { position: relative; width: 170px; padding-bottom:30px; }
#main-nav li a { text-decoration:none; color:#888; font-size:16px; display:block; padding:10px 0px 11px; font-weight:600; border-bottom:1px solid #d8d8d8; white-space:nowrap; text-align:left; background:url(../images/arrow-right.png) -15px center no-repeat; background-size:12px 8px;}
#main-nav a span { display:inline-block; top:-5px; font-size:11px; position:relative; }
#main-nav > ul .active > a, #main-nav > ul a.active, #main-nav li a:hover, #main-nav li a.selected { color:#2b2b2b; -webkit-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; }
#main-nav > ul > li > .sub-nav { padding:14px 0px 14px 0; border-bottom:1px solid #d8d8d8; }
#main-nav > ul > li > .sub-nav > li > a { font-size: 13px; margin-right:20px; padding:4px 0px 4px; border:0; }
#main-nav > ul > li > .sub-nav > li > a.last {  }
#main-nav li a:hover, #main-nav > ul > li > .sub-nav > li > a:hover, #main-nav > ul > li > a.active { background-position:2px center; padding-left:25px; }
.pushed-left #nav-button span:nth-child(1), .pushed-left-alt #nav-button span:nth-child(1) {
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 transform: rotate(45deg);
 position: relative;
 top: 5px;
 -webkit-transition: all 0.2s ease-in-out;
 -moz-transition: all 0.2s ease-in-out;
 -o-transition: all 0.2s ease-in-out;
 transition: all 0.2s ease-in-out;
 width:19px;
}
.pushed-left #nav-button span:nth-child(2), .pushed-left-alt #nav-button span:nth-child(2) {
 -webkit-transform: rotate(-45deg);
 -moz-transform: rotate(-45deg);
 -o-transform: rotate(-45deg);
 -ms-transform: rotate(-45deg);
 transform: rotate(-45deg);
 position: relative;
 top: 1px;
 -webkit-transition: all 0.3s ease-in-out;
 -moz-transition: all 0.3s ease-in-out;
 -o-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
  width:19px;
}
.pushed-left #nav-button span:nth-child(3), .pushed-left-alt #nav-button span:nth-child(3) {
 display: none;
}

#social-header { background:#fff; position:absolute; z-index:200; right:0; top:0; padding:15px 12px 0; /*width:50px; text-align:center*/ height:50px; }
/* End Main Nav
--------------------------------------------------------------------------------------------------------*/


/* =6. Main Content
--------------------------------------------------------------------------------------------------------*/
#background-color { background:#fff; height:100%; width:100%; position:fixed; z-index:101; -webkit-overflow-scrolling: touch; top:0; left:0; display:block }
.oldie #background-color { display:none }
.pushed-left #content, .pushed-left #header, .pushed-left #footer, .pushed-left #background-color { -webkit-transform: translate3d(260px, 0px, 0px); transform: translate3d(260px, 0px, 0px); }
.pushed-left-alt #content, .pushed-left-alt #header, .pushed-left-alt #footer, .pushed-left-alt #background-color, .no-csstransforms3d .pushed-left #content, .no-csstransforms3d .pushed-left #header, .no-csstransforms3d .pushed-left #footer { -webkit-transform: translateX(260px); -ms-transform: translateX(260px); transform: translateX(260px); }
#content, #header, #footer, #background-color { -webkit-transition: -webkit-transform 0.33s cubic-bezier(0.33, 0, 0.2, 1) 0s; transition: transform 0.33s cubic-bezier(0.33, 0, 0.2, 1) 0s; }
header { position: fixed; top: 0; left: 0; width: 260px; z-index:101; height:100%; background:#fff; padding:0 45px; padding-top:30px; }
#content { position:absolute; width:100%; z-index:102 }
.blog-overview .container { padding-top:65px; }
.gallery .container { padding-top:40px }
#white-background { background:#fff; width:260px; position:fixed; height:100%; z-index:98; }
#shadow { background:#242423; height:100%; width:100%; position:absolute; opacity:0; -webkit-overflow-scrolling: touch; top:0;  display:block }
#shadow { -webkit-transition: opacity 0.2s ease 0s; transition: opacity 0.2s ease 0s; }
.pushed-left #shadow, .pushed-left-alt #shadow, .no-csstransforms3d .pushed-left #shadow { opacity:0.5; z-index:201; }

#container { background:#2f2f2e; }
#container.no-bg { background:none }

.container { position:relative; margin:0 auto; }
.section { position:relative; padding:77px 0 77px 0; display:block; z-index:2; }
.section.header-section { height:510px; padding:0; }
.dark { background:#2b2b2b; color:#fff; -webkit-text-shadow: 0px 0 30px rgba(0, 0, 0, 0.4); text-shadow: 0px 0 30px rgba(0, 0, 0, 0.4);}
.grey { background:#f5f5f5; }

.centralizing-wrapper { height:510px; display:table; width:100%; }
.centralized-content { display: table-cell; vertical-align: middle; }

.bordered { border-bottom:1px solid #d8d8d8; }

.bg-image-2 { background:url(../images/me1.jpg) no-repeat center; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
.bg-image-1 { background:url(../images/fullscreen03.jpg) no-repeat center; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
.bg-image-3 { background:url(../images/me1.jpg) no-repeat center; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
.bg-image-4 { background:url(../images/fullscreen01.jpg) no-repeat center; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

.intro { min-height:510px; height:100vh; width:100%; -webkit-background-size: 100% auto; -moz-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; display:block; /*background-attachment:fixed;*/ }
.overlay { display:block; position:absolute; top:0; background-color:rgba(47, 47, 46, .3); width:100%; height:100%; -webkit-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; }

#headline_cycler { display: table; position: absolute; text-align: center; top: 50%; height:200px; margin-top:-100px; width: 100%; z-index:111; }
.headline_cycler_centralizer { display: table-cell; vertical-align: middle; }

#arrow-down { position:absolute; bottom:0; left:50%; z-index:11; height:80px; width:64px; margin-left:-32px; background:url(../images/bg-arrow-down@2x.png) no-repeat 18px 23px #fff; background-size:28px 16px; text-indent:-9999px; display:block; }

.arrow-left, .arrow-right { display:inline-block; float:left; width:45px; color:#2b2b2b; margin-top:12px; height:12px; background:url(../images/arrow-left.png) 7px center no-repeat; background-size:18px 12px; }
.arrow-right { float:right; background:url(../images/arrow-right.png) 20px center no-repeat; background-size:18px 12px;}
a:hover .arrow-left { background-position:left center; }
a:hover .arrow-right { background-position:right center; }

.custom-pagination { padding-top:36px !important; padding-bottom:30px !important; }
.custom-pagination p.large {  padding-bottom:0; }
.custom-pagination a:hover p.large { color:#2b2b2b; }
.custom-pagination .button { margin-top:0; }

.panel-group { padding-bottom:15px; padding-top:10px; margin-bottom:25px; }
.panel, .panel-group .panel { box-shadow:none; -webkit-box-shadow:none; border-radius:0; }
.panel-heading, .panel-body { padding:15px 20px 16px; }
.panel-title a, .panel-title a:focus { color:#2b2b2b }
.panel-default .panel-heading { background:#fff; border-color:#d8d8d8; -webkit-transition: border-color 0.2s ease 0s; transition: border-color 0.2s ease 0s;}
.grey .panel-default > .panel-heading, .grey .panel { background:none }
.panel-title a:hover { color:#2b2b2b; }
.table { margin-bottom:25px; }
.panel-default { border-color:#d8d8d8; -webkit-transition: border-color 0.2s ease 0s; transition: border-color 0.2s ease 0s;}



/* =End Main Content
--------------------------------------------------------------------------------------------------------*/


/* =7. Column Grid
--------------------------------------------------------------------------------------------------------*/
.add-padding { padding:0 45px; }
span.padding { padding:0 6px; }
.padding-10 { padding-top:10px; }
.padding-20 { padding-top:20px; }
.padding-25 { padding-top:25px; }
.padding-30 { padding-top:30px; }
.overflow { overflow:hidden }

#container.no-margin { margin:0px; }
.no-margin .element { padding:0px; overflow:hidden; -webkit-text-shadow: 0px 0 30px rgba(0, 0, 0, 0.4); text-shadow: 0px 0 30px rgba(0, 0, 0, 0.4); }

.info-box { position:absolute; right:20px; bottom:20px; -webkit-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; }
.info-box.centered { width:100%; left:0; bottom:20px; top:auto; }
.info-box.no-link, .info-box.no-overlay { right:30px; bottom:30px; }
.info-box h3, .info-box h4, .info-box h5 { margin:0px 0 0 0; padding:15px 20px; color:#fff !important; display:inline-block; }
.info-box.no-link h3, .info-box.no-link h4, .info-box.no-link h5, .info-box.no-link p, .info-box.no-overlay h3, .info-box.no-overlay h4, .info-box.no-overlay h5, .info-box.no-overlay p { background:#2b2b2b; padding:6px 10px 8px !important;  }
a:hover .info-box h3, a:hover .info-box h4, a:hover .info-box h5 { color:#fff !important }
.info-box p a, a .info-box p, a:hover .info-box p, .info-box p.small { color:#fff !important; border:0; margin:0 !important; }
.info-box h3 span.small, .info-box h4 span.small, .info-box h5 span.small { display:block; font-size:13px; font-weight:600; color:#fff; padding-top:3px; text-transform:uppercase; line-height:1.25; font-style:normal !important; letter-spacing:1px; }

.margin-wrapper { margin:0px; position:relative; }
.covering-image { position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(47, 47, 46, 0.3); border:0; }
.covering-image.hidden-default { opacity:0; -webkit-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; }
a:hover .covering-image.hidden-default { opacity:1; -webkit-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; }
a:hover .covering-image { background:rgba(46, 46, 46, 0.5); }
.info-box-content { height:100%; width:100%; }
.info-box-content .parent { height:100%; width:100%; padding:0px; }
.covering-image h2, .covering-image h3, .covering-image p { color:#fff !important; background:none !important; display:inline-block; padding:0px; margin:0; margin-bottom:5px; -webkit-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; white-space:nowrap;}
.covering-image p { display:block; opacity:0.7; }
a:hover .covering-image h2, a:hover .covering-image h3, a:hover .covering-image p { color:#fff !important; }
a:hover .covering-image h2, a:hover .covering-image h3 { -webkit-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; margin-bottom:10px; }
a .covering-image h2 { position:relative; color:#fff; }
a .covering-image h2::after { content:""; background:#fff; bottom:1px; display:block; left:50%; height:1px; position:absolute; -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; width:0; }
a:hover .covering-image h2::after { left:0; width:100%; color:#fff; }
/* =End Column Grid
--------------------------------------------------------------------------------------------------------*/


/* =8. Content Elements
--------------------------------------------------------------------------------------------------------*/
.break { display:block; position:relative; height:40px; width:100%; }
.medium-break { display:block; position:relative; height:30px; width:100%; }
.small-break { display:block; position:relative; height:20px; width:100%; }
.tiny-break { display:block; position:relative; height:10px; width:100%; }

.border-left-wrapper { padding-left:25px; }

.borderline { background:black; width:100%; height:2px; display:block; position:relative; margin:25px 0 20px 0; }

.bordered-content { background:#fff; padding:40px 45px 40px; position:relative; margin-bottom:30px;  }
.bordered-content.more-info { padding-top:35px; }

.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 10px;
  margin-top:2px;
  border-bottom: 2px solid #C9C9C9;
  top: 0;
  width:300px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

/* =Image Alignment
--------------------------------------------------------------------------------------------------------*/

.centerImage {
	display:block;
	position:relative;
	margin: 100 100;
}


/* =End Content Elements
--------------------------------------------------------------------------------------------------------*/


/* =9. Icons
--------------------------------------------------------------------------------------------------------*/
.social-list { padding-bottom:10px; margin:0; cursor:default; font-size:0; }
.social-list li { display:inline-block; padding:0 5px; }
.social-list.alignright li, .social-list.alignleft li { padding:0; padding-left:10px; padding-top:4px; }
.social-list li a i { color:#2b2b2b; font-size:18px; }
/*#social-header .social-list li { display:block; padding:5px 0; }*/

.more-info .social-list { padding-top:5px; padding-bottom:0 }
.more-info .social-list li a i { font-size:17px; }
i.fa { margin-right:3px; color:#2b2b2b }
/*#social-header .social-list li i.fa { margin-right:0; }*/

.covering-image i.fa { color:#fff; }

.icons.map { background:url(../images/icons/bg-map@2x.png) no-repeat center left; background-size:48px 48px; }
.icons.winner { background:url(../images/icons/bg-winner@2x.png) no-repeat center; background-size:48px 48px; }
.icons.time { background:url(../images/icons/bg-time@2x.png) no-repeat center; background-size:48px 48px; }
.icons.pig { background:url(../images/icons/bg-pig@2x.png) no-repeat center; background-size:48px 48px; }
.icons.adjust { background:url(../images/icons/bg-adjust@2x.png) no-repeat center; background-size:48px 48px; }
.icons.team { background:url(../images/icons/bg-team@2x.png) no-repeat center; background-size:48px 48px; }
.icons.works { background:url(../images/icons/bg-works@2x.png) no-repeat center; background-size:48px 48px; }
.icons.chat { background:url(../images/icons/bg-chat@2x.png) no-repeat center; background-size:48px 48px; }
.icons.notes { background:url(../images/icons/bg-notes@2x.png) no-repeat center; background-size:48px 48px; }
.icons.camera { background:url(../images/icons/bg-camera@2x.png) no-repeat center; background-size:48px 48px; }
.icons.illustration { background:url(../images/icons/bg-illustration@2x.png) no-repeat center; background-size:48px 48px; }
.icons.social { background:url(../images/icons/bg-social@2x.png) no-repeat center; background-size:48px 48px; }
.icons.vector { background:url(../images/icons/bg-vector@2x.png) no-repeat center; background-size:48px 48px; }
.icons.commerce { background:url(../images/icons/bg-commerce@2x.png) no-repeat center; background-size:48px 48px; }
.icons.search { background:url(../images/icons/bg-search@2x.png) no-repeat center; background-size:48px 48px; }
.icons.like { background:url(../images/icons/bg-like@2x.png) center no-repeat; background-size:48px 48px; }
.icons.share { background:url(../images/icons/bg-share@2x.png) center no-repeat; background-size:48px 48px; }
.icons.document { background:url(../images/icons/bg-document@2x.png) center no-repeat; background-size:48px 48px; }
.icons.apple { background:url(../images/icons/bg-apple@2x.png) center no-repeat; background-size:48px 48px; }
.icons.balance { background:url(../images/icons/bg-balance@2x.png) center no-repeat; background-size:48px 48px; }
.icons.beaker { background:url(../images/icons/bg-beaker@2x.png) center no-repeat; background-size:48px 48px; }
.icons.beer { background:url(../images/icons/bg-beer@2x.png) center no-repeat; background-size:48px 48px; }
.icons.books { background:url(../images/icons/bg-books@2x.png) center no-repeat; background-size:48px 48px; }
.icons.box { background:url(../images/icons/bg-box@2x.png) center no-repeat; background-size:48px 48px; }
.icons.cake { background:url(../images/icons/bg-cake@2x.png) center no-repeat; background-size:48px 48px; }
.icons.calcuLator { background:url(../images/icons/bg-calcuLator@2x.png) center no-repeat; background-size:48px 48px; }
.icons.cd { background:url(../images/icons/bg-cd@2x.png) center no-repeat; background-size:48px 48px; }
.icons.champagne { background:url(../images/icons/bg-champagne@2x.png) center no-repeat; background-size:48px 48px; }
.icons.chart { background:url(../images/icons/bg-chart@2x.png) center no-repeat; background-size:48px 48px; }
.icons.cheese { background:url(../images/icons/bg-cheese@2x.png) center no-repeat; background-size:48px 48px; }
.icons.court { background:url(../images/icons/bg-court@2x.png) center no-repeat; background-size:48px 48px; }
.icons.delivery { background:url(../images/icons/bg-delivery@2x.png) center no-repeat; background-size:48px 48px; }
.icons.dvd { background:url(../images/icons/bg-dvd@2x.png) center no-repeat; background-size:48px 48px; }
.icons.eco { background:url(../images/icons/bg-eco@2x.png) center no-repeat; background-size:48px 48px; }
.icons.film { background:url(../images/icons/bg-film@2x.png) center no-repeat; background-size:48px 48px; }
.icons.grape { background:url(../images/icons/bg-grape@2x.png) center no-repeat; background-size:48px 48px; }
.icons.hot { background:url(../images/icons/bg-hot@2x.png) center no-repeat; background-size:48px 48px; }
.icons.house { background:url(../images/icons/bg-house@2x.png) center no-repeat; background-size:48px 48px; }
.icons.icecream { background:url(../images/icons/bg-icecream@2x.png) center no-repeat; background-size:48px 48px; }
.icons.joystick { background:url(../images/icons/bg-joystick@2x.png) center no-repeat; background-size:48px 48px; }
.icons.keynote { background:url(../images/icons/bg-keynote@2x.png) center no-repeat; background-size:48px 48px; }
.icons.link { background:url(../images/icons/bg-link@2x.png) center no-repeat; background-size:48px 48px; }
.icons.magic { background:url(../images/icons/bg-magic@2x.png) center no-repeat; background-size:48px 48px; }
.icons.mail { background:url(../images/icons/bg-mail@2x.png) center no-repeat; background-size:48px 48px; }
.icons.microphone { background:url(../images/icons/bg-microphone@2x.png) center no-repeat; background-size:48px 48px; }
.icons.network { background:url(../images/icons/bg-network@2x.png) center no-repeat; background-size:48px 48px; }
.icons.palette { background:url(../images/icons/bg-palette@2x.png) center no-repeat; background-size:48px 48px; }
.icons.plaster { background:url(../images/icons/bg-plaster@2x.png) center no-repeat; background-size:48px 48px; }
.icons.player { background:url(../images/icons/bg-player@2x.png) center no-repeat; background-size:48px 48px; }
.icons.polaroid { background:url(../images/icons/bg-polaroid@2x.png) center no-repeat; background-size:48px 48px; }
.icons.printer { background:url(../images/icons/bg-printer@2x.png) center no-repeat; background-size:48px 48px; }
.icons.pulse { background:url(../images/icons/bg-pulse@2x.png) center no-repeat; background-size:48px 48px; }
.icons.radio { background:url(../images/icons/bg-radio@2x.png) center no-repeat; background-size:48px 48px; }
.icons.recorder { background:url(../images/icons/bg-recorder@2x.png) center no-repeat; background-size:48px 48px; }
.icons.scissors { background:url(../images/icons/bg-scissors@2x.png) center no-repeat; background-size:48px 48px; }
.icons.select { background:url(../images/icons/bg-select@2x.png) center no-repeat; background-size:48px 48px; }
.icons.serving { background:url(../images/icons/bg-serving@2x.png) center no-repeat; background-size:48px 48px; }
.icons.share { background:url(../images/icons/bg-share@2x.png) center no-repeat; background-size:48px 48px; }
.icons.shop { background:url(../images/icons/bg-shop@2x.png) center no-repeat; background-size:48px 48px; }
.icons.shopping { background:url(../images/icons/bg-shopping@2x.png) center no-repeat; background-size:48px 48px; }
.icons.smartphone { background:url(../images/icons/bg-smartphone@2x.png) center no-repeat; background-size:48px 48px; }
.icons.sofa { background:url(../images/icons/bg-sofa@2x.png) center no-repeat; background-size:48px 48px; }
.icons.syringe { background:url(../images/icons/bg-syringe@2x.png) center no-repeat; background-size:48px 48px; }
.icons.tape { background:url(../images/icons/bg-tape@2x.png) center no-repeat; background-size:48px 48px; }
.icons.target { background:url(../images/icons/bg-target@2x.png) center no-repeat; background-size:48px 48px; }
.icons.television { background:url(../images/icons/bg-television@2x.png) center no-repeat; background-size:48px 48px; }
.icons.video { background:url(../images/icons/bg-video@2x.png) center no-repeat; background-size:48px 48px; }
.icons.walkman { background:url(../images/icons/bg-walkman@2x.png) center no-repeat; background-size:48px 48px; }
.icons.zoom { background:url(../images/icons/bg-zoom@2x.png) center no-repeat; background-size:48px 48px; }
.icons.tags { background:url(../images/icons/bg-tags@2x.png) center no-repeat; background-size:48px 48px; }
.icons.quote { background:url(../images/icons/bg-quote@2x.png) center no-repeat; background-size:48px 48px; }
.icons.certified { background:url(../images/icons/bg-certified@2x.png) center no-repeat; background-size:48px 48px; }
.icons.mediation { background:url(../images/icons/bg-mediation@2x.png) center no-repeat; background-size:48px 48px; }

.icons { position:relative; height:48px; width:48px; float:left; margin-top:14px; margin-bottom:20px; }
.centered .icons { float:none; display:inline-block; height:48px; width:48px; margin-top:5px; margin-bottom:14px; z-index:2; }
.next-to-icon { margin-left:73px; padding-bottom:10px; }
/* End Icons
--------------------------------------------------------------------------------------------------------*/


/* =10. Images
--------------------------------------------------------------------------------------------------------*/
.images { display:block; position:relative; }
img { width:auto; max-width: 100%; z-index:9; box-shadow: #fff 0 0 0 }

.image-wrapper { position:relative; margin:0px 0 30px; }
.image-wrapper2 { position:relative; margin:30px 0 30px; }
.image-wrapper3 { position:relative }

.client { border-bottom:1px solid #d8d8d8; width:25%; padding:0px; float:left; opacity:0.85 }
.col-lg-12 .client { width:16.666%; border:0; }

.videos {  border:0; height:350px; width:620px }
.videoWrapper { position:relative; padding-bottom:56.25%; /* 16:9 */ height:0; }
.videoWrapper iframe { position:absolute; top:0; left:0; width:100%; height:100%; }
/* End Images
--------------------------------------------------------------------------------------------------------*/


/* =11. Footer
--------------------------------------------------------------------------------------------------------*/
footer { margin:0; padding:0; width:auto; position:relative; text-align:center;/* margin-top:-43px;*/ z-index:200; }
footer div { display:inline-block; background:#fff; text-align:center; padding:27px 18px 20px; }
footer p { font-size:12px; }

/* End Footer
--------------------------------------------------------------------------------------------------------*/


/* =12. Lists
--------------------------------------------------------------------------------------------------------*/
ul.unordered-list, .hentry ul { list-style: circle; line-height:1.5; padding:0px 15px; margin-left:5px; text-align:left !important; }
ul.unordered-list ul { list-style:disc; padding:0px 25px; }
ol { list-style:decimal; line-height:1.5; padding:0px 15px; margin-left:5px; }

.contact-list li i { left:1px; line-height:1.5; position:absolute }
.contact-list li i.fa-envelope { font-size: 13px; margin-top:1px; }
.contact-list li i.fa-paper-plane { font-size: 13px; margin-top:1px; }
.contact-list li i.fa-map-marker { font-size: 16px; left:4px; margin-top:-1px; }
.contact-list li i.fa-phone { font-size: 15px; left:2px; }
.contact-list li { padding-left:25px; position:relative; line-height:1.5; font-size:13px; padding-bottom:5px; }
ul.contact-list li a { color:#888; }
ul.contact-list li a:hover { color:#2b2b2b; }
/* =End Lists
--------------------------------------------------------------------------------------------------------*/


/* =13. Googlemaps
--------------------------------------------------------------------------------------------------------*/
#map { width:100%; height:395px; margin:0; border:0 }
#map:before, #map:after { background: none; content: ''; left: 0; position: absolute; top: 0; width: 100%; }
#map:after { bottom: 0; top: auto; }
/* End Googlemaps
--------------------------------------------------------------------------------------------------------*


/* =14. Blog
--------------------------------------------------------------------------------------------------------*/
.comment { padding: 40px 0 25px 0; border-bottom: 1px solid #eee; position:relative }
.comment.reply.level-1 { padding-left: 6.6%; }
.commenter-avatar { float: left; padding: 0 30px; width: 135px; }
.commenter-avatar > img { width: 75px; }
.comment-content { float: left; max-width:70%; }
.comment-content h5 { margin-bottom:5px; }
.comment-reply-button-column { float: right; width: auto; padding-top:10px; }
.comment-reply-button-column a { margin:5px 25px 0px 25px; opacity:0 }
.comment:hover .comment-reply-button-column a { opacity:1 }
.comment-form-wrapper { padding: 69px 0 20px 0; position: relative; }
.comment-form-icon-wrapper { position: absolute; top: 69px; left: 30px; display: block; height: 75px; width: 75px; border:0 none; border:1px solid #eee; cursor:pointer; }
.comment-form { padding: 0 30px 0 136px; }
.comment-form.contact-form { padding-left:30px }
.comment-form > input, .comment-form > textarea { padding: 17px 18px; width: 289px; margin-bottom: 10px; border:1px solid #d8d8d8; text-align: left; font-style: normal; font-size: 16px; line-height: 20px; background:#f5f5f5; }
.comment-form.contact-form input { float:left; margin-right:10px; width:280px; }
input.last { margin-right:0 !important }
.comment-form > textarea { width: 100%; height: 174px; }

article .margin-wrapper { width:40%; float:left; margin-bottom:40px; }
article .article-heading { width:60%; float:left; padding:35px; }
body.single-post article .article-heading { padding-bottom:0; }

article.col-lg-12 .margin-wrapper { width:40%; }
article.col-lg-12 .article-heading { width:60%; padding-top:12px; }

.hidden-content .social-icon { position: relative; top: -30px; opacity:0; }
article .hidden-content .social-icon.first { -webkit-transition: all ease-in-out 0.2s; transition: all ease-in-out 0.2s; }
article .hidden-content .social-icon.second { -webkit-transition: all ease-in-out 0.3s; transition: all ease-in-out 0.3s; }
article .hidden-content .social-icon.third { -webkit-transition: all ease-in-out 0.4s; transition: all ease-in-out 0.4s; }
article .hidden-content .social-icon.fourth { -webkit-transition: all ease-in-out 0.5s; transition: all ease-in-out 0.5s; }
article .hidden-content .social-icon.fifth { -webkit-transition: all ease-in-out 0.6s; transition: all ease-in-out 0.6s; }
article:hover .hidden-content .social-icon { opacity:1; -webkit-transition: opacity 0.2s ease 0s; transition: opacity 0.2s ease 0s; }
article:hover .hidden-content .social-icon.first {  top:0; -webkit-transition: top ease-in-out 0.2s; transition: top ease-in-out 0.4s; }
article:hover .hidden-content .social-icon.second {  top:0; -webkit-transition: top ease-in-out 0.3s; transition: top ease-in-out 0.5s; }
article:hover .hidden-content .social-icon.third {  top:0; -webkit-transition: top ease-in-out 0.4s; transition: top ease-in-out 0.6s; }
article:hover .hidden-content .social-icon.fourth {  top:0; -webkit-transition: top ease-in-out 0.5s; transition: top ease-in-out 0.7s; }
article:hover .hidden-content .social-icon.fifth {  top:0; -webkit-transition: top ease-in-out 0.6s; transition: top ease-in-out 0.8s; }

.hidden-content .borderline {width:0; -webkit-transition: width 0.3s ease 0s; transition: width 0.3s ease 0s;}
article:hover .hidden-content .borderline { width:145px; -webkit-transition: width 0.5s ease 0s; transition: width 0.5s ease 0s;}

.blog-columns article.element { margin-bottom:30px; }
.author-image { width:50%; float:left; }
.posted { width:50%; float:left; }
.posted .date { background:#2b2b2b; color:#fff; width:auto; display:inline-block; font-size:10px; padding:13px 15px 0; position:relative; margin-left:15px; line-height:1.25 p}
.posted .date:before { background:url(../images/posted.png) no-repeat center; background-size:30px 30px; position:absolute; bottom:-15px; left:0; width:30px; height:30px; }
.posted .number { font-size:30px; font-weight:400; float:left; position:relative; top:-8px; padding-right:5px; letter-spacing:-1px; }

/*=15. Slideshow
--------------------------------------------------------------------------------------------------------*/
/* Slideshow container */


/* End Blog
--------------------------------------------------------------------------------------------------------*/
